*{
    margin: 0%;
    padding: 0%;
}

html{
    font-size: clamp(12px, 1.5vw, 16px);
    scroll-behavior: smooth;
}
/* header */
header{
    width: 100%;
    height: 900px;
    background-image: url(./img/header.png);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.logo{
    cursor: pointer;
    margin-left: -50px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 30px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
}

/* .navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100px;
} */

/* main */
main{
    background-color: #1F1F21;
    color:#fff;
    padding-bottom: 100px;
}
.main-container{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 50px 20px 20px;
    gap: 50px;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.astau{
    max-width: 100%;
}
.main-container-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 30px;
    font-size: 30px;
    margin-top: 150px;
}
p{
    margin-top: 70px;
}
button{
    width: 150px;
    height: 40px;
    padding: 10px;
    margin: 70px 10px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    border:2px solid #fff;
    background: transparent;
    color: #fff;
    cursor:pointer;
}

.secondary-container{
    margin: 100px 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.secondary-container h2{
    margin-top: 30px;
    font-size: 30px;
}
.secondary-container p{
    font-size: 20px;
}
.third-container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 150px;
    background-color: #1F1F21;
    flex-wrap: wrap;
    gap: 20px;
}
.text{
    padding:50px;
    font-size: 30px;
    text-align: center;
}
.photo-2nd{
    margin-left: 80px;
}
.photo-3rd{
    margin-left: 80px;
}
footer{
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    padding: 100px;
    background-color: rgb(0, 0, 0);
}
/* .line{
    position: absolute;
    top: 0;
    width: 83%;
    height: 4px;
    border:0 none;
    background-color: #fff;
} */
.info{
    justify-content: flex-start;
}
.info ul{
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}
.info ul li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;
    display: inline-block;
    font-size: 20px;
}
.info ul li a{
    text-decoration: none;
    color: #fff;
}

.social-networks{
    text-align: center;
}

.social-networks h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    word-spacing: 10px;
}
.social-networks-photo{
    display: inline-block;
    margin-left: 20px;
    word-spacing: 20px;
}
.address{
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.address a{
    text-decoration: none;
    color: #fff;
}
